{#
Check out menu.html.twig
We call a macro which calls itself to render the full tree.
@see http://twig.sensiolabs.org/doc/tags/macro.html
@see menu.html.twig
#}
{% import _self as menu_jstree_menu %}

<nav id="menu-jstree-{{ id }}">
  {{ menu_jstree_menu.menu_links(items, 0, icon, icon_leaves) }}
</nav>

{% macro menu_links(items, menu_level, icon, icon_leaves) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="admin-list">
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      {% if item.below %}
        <li data-jstree='{"opened":true, "icon":"{{ icon }}"}'>
      {% else %}
        <li data-jstree='{"icon":"{{ icon_leaves }}"}'>
      {% endif %}
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
