[id^="menu-jstree-"] {
  overflow-y: scroll;
  width: 100%;
  height: auto;
  border: 1px solid #c0c0c0;
}

[id^="menu-jstree-"].rem-border {
  border: none;
}

[id^="menu-jstree-"] .jstree-anchor.is-active {
  color: #ed4140;
}

[id^="menu-jstree-"] .jstree-leaf .jstree-anchor {
  height: auto;
  white-space: normal;
}
